# Database
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.xxxx.supabase.co:5432/postgres"

# Auth
JWT_SECRET="generate-a-64-char-random-string-here"
JWT_REFRESH_SECRET="another-64-char-random-string-here"

# App
FRONTEND_URL="http://localhost:5173"
PORT=3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_UPLOAD_PRESET="snipfit_uploads"

# Email
RESEND_API_KEY=""
EMAIL_FROM="noreply@snipfit.in"

# Payments
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

# WhatsApp
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_WHATSAPP_FROM="whatsapp:+14155238886"
